<div class="message">
    <div class="alert alert-secondary alert-dismissible fade" role="alert" id="floating-message">
        <strong></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>

<div class="loading-overlay">
    <div class="loading-spinner"></div>
    <div class="loading-text">[Loading...]</div>
</div>

<h2>CRUD Parts</h2>
<nav class="menu bg-light">
    <a href="/">Search</a> |
    <a href="/add">Add</a> |
    <a href="/edit">Edit</a>
</nav>